*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.content > * {
  border: 1px solid black;
}

.content {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.2fr 2fr;
  height: 100%;
  gap: 0.5rem;
}

.doc-name {
  grid-column: 1/-1;
}

.project {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.todo-list {
  position: relative;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  height: 70%;
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
